.profile{
    padding: 20px 0px;
}
.profile h1 {
    text-align: center;
    padding: 10px 0px;
}
.profile table{
    border: 1px solid black;
    border-radius: 5px;
}

.profile td, .profile th{
    padding: 5px;
    border: 1px solid black;
}
.profile.donate th, .profile.exchange th{
    font-size: 2vh;
}
.profile.info th{
    text-align: left;
}
.profile.info tr:nth-child(even){
    background-color: var(--background3);
}
.profile.info tr:nth-child(odd){
    background-color: var(--background2);
    color: white;
}
.profile.exchange td {
    text-align: center;
}
.profile.donate td:nth-child(2){
    text-align: left;
}
.profile.donate td{
    text-align: center;
}
.table{
    display: flex;
    justify-content: center;
}
.table table {
    width: 75%;
}
.table table tr:nth-child(odd) td{
    background-color: var(--background2);
    color: white;
}
.table table tr:nth-child(even) td{
    background-color: var(--background3);
}